<div>
    <video #video autoplay></video>
    <canvas #canvas width="640" height="480" style="display: none;"></canvas>
    
    <button (click)="captureImage()">Capture Image</button>
    <button (click)="stopWebcam()">Stop Webcam</button>
  
    <div *ngFor="let face of detectedFaces" [ngStyle]="{'position': 'absolute', 'border': '2px solid red', 'top.px': face.box.y, 'left.px': face.box.x, 'width.px': face.box.width, 'height.px': face.box.height}">
      <p>Name: {{ face.name }}</p>
      <p>Age: {{ face.age }}</p>
      <p>Gender: {{ face.gender }}</p>
    </div>
  </div>
  