video {
    width: 640px;
    height: 480px;
    border: 1px solid black;
  }
  
  canvas {
    display: none; 
  }
  
  .face-info {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 10px;
    max-width: 150px;
  }
  .face-box {
    position: absolute;
  }
  